* {
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}


.logoArea {
  position: relative;
  height: 250px;
  width: 750px;
  border-radius: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #eb831f;
  margin-top: 75px;
  position: absolute;
}

.logoArea h1{
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 75px;
  position: absolute;
}

.logo{
  background-color: gray;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 500px;
}

img {
  height:200px;
  width:200px;
  border-radius:200px;
}

li {
  margin-right: 1rem;
}

